div {
  background-color: #ff8000;
  color: white;
  font-family: sans-serif;
  border-radius: 10px;
  width: 100%;
  height: auto; /*stretch with more data on page*/
  margin: 0 auto; /*centers div*/
}
